## random forest assignment

In [92]:
import numpy as np
import pandas as pd

In [93]:
df=pd.read_csv(r'C:\\Users\\Win7Ult\\Downloads\\Fraud_check.csv')

In [94]:
df['fraud']='No'

In [95]:
a=df[df['Taxable.Income']<=30000].index.values

In [96]:
for i in a:
    df['fraud'].iloc[i]='Yes'

C:\Users\Win7Ult\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [97]:
df['fraud'].unique()

array(['No', 'Yes'], dtype=object)

In [98]:
df['fraud'].value_counts()

No     476
Yes    124
Name: fraud, dtype: int64

In [99]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [100]:
df['Undergrad']=le.fit_transform(df['Undergrad'])

In [101]:
df['Marital.Status']=le.fit_transform(df['Marital.Status'])

In [102]:
df['Urban']=le.fit_transform(df['Urban'])

In [103]:
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,fraud
0,0,2,68833,50047,10,1,No
1,1,0,33700,134075,18,1,No
2,0,1,36925,160205,30,1,No
3,1,2,50190,193264,15,1,No
4,0,1,81002,27533,28,0,No
...,...,...,...,...,...,...,...
595,1,0,76340,39492,7,1,No
596,1,0,69967,55369,2,1,No
597,0,0,47334,154058,0,1,No
598,1,1,98592,180083,17,0,No
599,0,0,96519,158137,16,0,No

In [104]:
x=df.iloc[:,:6]
y=df.iloc[:,-1]

In [144]:
y

0      No
1      No
2      No
3      No
4      No
       ..
595    No
596    No
597    No
598    No
599    No
Name: fraud, Length: 600, dtype: object

In [145]:
from sklearn.preprocessing import normalize
x=normalize(x)

In [156]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [157]:
from sklearn.ensemble import  RandomForestClassifier
from sklearn.metrics import classification_report

In [167]:
param_grid ={'criterion':['gini','entropy'],'max_depth':[7,8,10,11],'min_samples_split':[4,5,6,7],'max_features':['auto', 'sqrt', 'log2'],}

In [168]:
model=RandomForestClassifier()

In [169]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(estimator=model, param_grid=param_grid)
grid.fit(x_train,y_train)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [7, 8, 10, 11],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_split': [4, 5, 6, 7]})

In [170]:
print(grid.best_score_)
print(grid.best_params_)

0.9404761904761905
{'criterion': 'gini', 'max_depth': 11, 'max_features': 'log2', 'min_samples_split': 7}

In [162]:
model1=RandomForestClassifier(criterion='entropy',max_depth=4,min_samples_split=5,max_features='log2')

In [163]:
model1.fit(x_train,y_train)
y_pred1=model1.predict(x_test)

In [165]:
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

          No       0.91      1.00      0.95       137
         Yes       1.00      0.70      0.82        43

    accuracy                           0.93       180
   macro avg       0.96      0.85      0.89       180
weighted avg       0.93      0.93      0.92       180

### dataset-2

In [69]:
df1=pd.read_csv(r'C:\\Users\\Win7Ult\\Downloads\\Company_Data.csv')

In [70]:
df1['ShelveLoc']=le.fit_transform(df1['ShelveLoc'])

In [71]:
df1['US']=le.fit_transform(df1['US'])

In [72]:
df1['Urban']=le.fit_transform(df1['Urban'])

In [73]:
df1['sale']='high'

In [74]:
a=df1[df1['Sales']<7.49].index.values

In [75]:
for i in a:
    df1['sale'].iloc[i]='no'

C:\Users\Win7Ult\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [76]:
df1

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sale
0,9.50,138,73,11,276,120,0,42,17,1,1,high
1,11.22,111,48,16,260,83,1,65,10,1,1,high
2,10.06,113,35,10,269,80,2,59,12,1,1,high
3,7.40,117,100,4,466,97,2,55,14,1,1,no
4,4.15,141,64,3,340,128,0,38,13,1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,high
396,6.14,139,23,3,37,120,2,55,11,0,1,no
397,7.41,162,26,12,368,159,2,40,18,1,1,no
398,5.94,100,79,7,284,95,0,50,12,1,1,no
399,9.71,134,37,0,27,120,1,49,16,1,1,high

In [81]:
x1=df1.iloc[:,1:11]
y1=df1.iloc[:,-1]

In [82]:
from sklearn.model_selection import train_test_split
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1)

In [83]:
model2=RandomForestClassifier()

In [84]:
param_grid1 ={'criterion':['gini','entropy'],'max_depth':[7,8,10,11],'min_samples_split':[4,5,6,7],'max_features':['auto', 'sqrt', 'log2'],}

In [85]:
grid1 = GridSearchCV(estimator=model2, param_grid=param_grid1)
grid1.fit(x1_train,y1_train)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [7, 8, 10, 11],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_split': [4, 5, 6, 7]})

In [86]:
print(grid1.best_score_)
print(grid1.best_params_)

0.8033333333333333
{'criterion': 'entropy', 'max_depth': 8, 'max_features': 'log2', 'min_samples_split': 7}

In [87]:
model1=RandomForestClassifier(criterion='entropy',max_depth=8,min_samples_split=7,max_features='log2')

In [89]:
model1.fit(x1_train,y1_train)
y1_pred=model1.predict(x1_train)
y1_pred1=model1.predict(x1_test)

In [91]:
print(classification_report(y1_test,y1_pred1))

              precision    recall  f1-score   support

        high       0.80      0.81      0.80        48
          no       0.82      0.81      0.82        52

    accuracy                           0.81       100
   macro avg       0.81      0.81      0.81       100
weighted avg       0.81      0.81      0.81       100